@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


/* Basic styling for the contact section */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .contact-info h3 {
      font-size: 1.5rem;
    }
  
    .contact-info p {
      font-size: 0.9rem;
    }
  
    .social-icons {
      gap: 20px;
    }
  }
  
  /* For tablet views */
  @media (max-width: 1024px) {
    .contact-info {
      flex-direction: column;
    }
  
    .social-icons {
      flex-direction: column;
      gap: 10px;
    }
  }

  /* In App.css or a global stylesheet */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Optional: Ensure no elements are overflowing the page */
* {
  box-sizing: border-box;
}


.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: white;
}